<launch>
  <!--############### Node Configurations ##################-->
  <arg name="output" default="screen"/>
  <arg name="fps"    default="80"/>

  <!-- Camera Configurations -->
  <arg name="cam0" default="17041936"/>
  <arg name="cam1" default="17041930"/>
  <arg name="cam2" default="17041931"/>
  <arg name="cam3" default="17041932"/>

  <arg name="duration" default="1000" />
  <arg name="num_cameras" default="4" />
  <arg name="out_file_prefix" default="rec" /> 
  <arg name="save_dir" default="/data/" />

  <!-- Broadcast camera image for specified amount of time. -->
  <node pkg="poll_cameras" type="poll_cameras_node" name="poll_cameras" output="$(arg output)">
    <param name="cam0/identifier" type="string" value="$(arg cam0)"/>
    <param name="cam1/identifier" type="string" value="$(arg cam1)"/>
    <param name="cam2/identifier" type="string" value="$(arg cam2)"/>
    <param name="cam3/identifier" type="string" value="$(arg cam3)"/>

    <param name="cam0/camera_name" type="string" value="pg_$(arg cam0)"/>
    <param name="cam1/camera_name" type="string" value="pg_$(arg cam1)"/>
    <param name="cam2/camera_name" type="string" value="pg_$(arg cam2)"/>
    <param name="cam3/camera_name" type="string" value="pg_$(arg cam3)"/>

    <param name="cam0/calib_url" type="string" value="file://${ROS_HOME}/camera_info/pg_$(arg cam0).yaml"/>
    <param name="cam1/calib_url" type="string" value="file://${ROS_HOME}/camera_info/pg_$(arg cam1).yaml"/>
    <param name="cam2/calib_url" type="string" value="file://${ROS_HOME}/camera_info/pg_$(arg cam2).yaml"/>
    <param name="cam3/calib_url" type="string" value="file://${ROS_HOME}/camera_info/pg_$(arg cam3).yaml"/>

    <param name="rec_length" type="double" value="$(arg duration)"/>
    <param name="num_cameras" type="int" value="$(arg num_cameras)"/>
    <param name="fps" type="double" value="$(arg fps)"/>
    <param name="shutter_ms" type="double" value="0.005"/>
    <param name="gain_db" type="double" value="0"/>
    
  </node>
<foo>
  <!-- Record from the camera's topic for specified amount of time. -->
  <node pkg="rosbag" type="record" name="cam0_bag"
        args="--duration $(arg duration)s -O $(arg save_dir)/$(arg out_file_prefix)_cam0.bag /poll_cameras/cam0/image_raw" />
</foo>

  
</launch>
