<launch>
  <arg name="fps"    default="80"/>
  <arg name="shutter_ms" default="2.0"/>

  <!-- time (sec for which to record) -->
  <arg name="duration" default="10" />
  
  <arg name="out_file_prefix" default="rec" /> 
  <arg name="save_dir" default="/data/" />

  <arg name="output" default="screen"/>

  <!--- launch camera polling -->
  <include file="$(find poll_cameras)/launch/just_cameras.launch">
    <arg name="duration" value="$(arg duration)"/>
    <arg name="fps" value="$(arg fps)"/>
    <arg name="shutter_ms" value="$(arg shutter_ms)"/>
  </include>

  <!--- launch audio recording.
      - first, disable pulseaudio so it doesn't start (but don't uninstall)
      - find out with "arecord -l" which card (first number before ',') and device to use
  -->
  <node pkg="poll_cameras" type="record_audio_timed.py" name="timed_audio" args="$(arg duration)" output="$(arg output)"/>


  <!-- record from the camera's topic for specified amount of time. -->
  <node pkg="rosbag" type="record" name="record_bag"
        args="--duration $(arg duration)s -O $(arg save_dir)/$(arg out_file_prefix).bag /poll_cameras/cam0/image_raw /poll_cameras/cam1/image_raw /poll_cameras/cam2/image_raw /poll_cameras/cam3/image_raw /audio/audio" />
</launch>
